<div class="container">


    <div class="title">
        <span>Welcome to My Profile</span>
    </div> 

    <div class="profile">
        <div class="profile-bg"></div>
        <!-- <img src="../../assets/pratik-self.png" alt=""> -->
        <img src="pratik-portfolio/assets/pratik-self.png" alt="">

    </div>

    <div class="name">
        <span>
            <span>Hi,</span> I am
        </span><br>
        <span>Pratik Gaikwad</span><br>
        <span>Senior Software Engineer</span><br>
    </div>
</div>