:host{
    display: block;
    padding: 4rem 2rem 6rem;
    background-color: var(--dark-gray);
    clip-path: polygon(0% 0%,100% 0% , 100% 95%, 50% 100%, 0% 95%);
}

p {
    text-shadow: 0 0 7px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);
  }
.animate-container {
    color: #e5e5e5;
    font-size: 2.26rem;
    text-transform: uppercase;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .animation {
    height:50px;
    overflow:hidden;
    margin-left: 1rem;
  }
  
  .animation > div > div {
    padding: 0.25rem 0.75rem;
    height:2.81rem;
    margin-bottom: 2.81rem;
    display:inline-block;
  }
  
  .animation div:first-child {
    animation: text-animation 8s infinite;
  }
  
  .first div {
    background-color:#20a7d8;
  }
  .second div {
    background-color:#CD921E;
  }
  .third div {
    background-color:#c10528;
  }
  
  @keyframes text-animation {
    0% {margin-top: 0;}
    10% {margin-top: 0;}
    20% {margin-top: -5.62rem;}
    30% {margin-top: -5.62rem;}
    40% {margin-top: -11.24rem;}
    60% {margin-top: -11.24rem;}
    70% {margin-top: -5.62rem;}
    80% {margin-top: -5.62rem;}
    90% {margin-top: 0;}
    100% {margin-top: 0;}
  }


.container{
    display: grid;
    grid-template-columns: 1fr;
}
.title{
    font-size: 4rem;
    padding: 0 0 2rem;
    text-align: center;
    color: var(--green);
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
}
.name {
    grid-row: 3/4;
    padding: 2rem;
    color: white;
    font-size: 2rem;
    margin-top: 3rem;
    outline: 1px solid white;
    font-family: 'Roboto Condensed' sans-serif;
}
.name span:nth-of-type(1) span {
    font-size: 3rem;
    color: var(--green);
}

.name span:nth-of-type(2) {
    display: inline-block;
    color: var(--green);
    font-size: 4rem;
    font-weight: bold;
    padding: 10px 0;
    letter-spacing: 8px;
    text-shadow: 10px 8px 10px var(--black);
}


.profile {
    width: 250px;
    height: 300px;
    grid-row: 2/3;
    margin: 0 auto;
    position: relative;
    /* clip-path: inset(0 round 0 0 25%); */
}
.profile img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.profile .profile-bg{
    height: 75%;
    width: 100%;
    bottom: 0%;
    position: absolute;
    background-color: #69F0AE;
    /* clip-path: inset(0 round 50% 0 0) ; */
}

/* pc */
:host.pc{
    padding: 4rem 2rem 10rem;
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
}

:host.pc .profile{
    grid-row: 1/3;
    grid-column: 2/3;
    width: 250px;
    height: 300px;
}