<div class="container">

    <main class="animate-container">
        <p>Hello 👋 I'm</p>
        <section class="animation">
          <div class="first"><div>Pratik Gaikwad</div></div>
          <div class="second"><div>Java Developer</div></div>
          <div class="third"><div>Android Developer</div></div>
        </section>
      </main>
    <!-- <div class="title">
        <p>Hello 👋 I'm</p>
  <section class="animation">
    <div class="first"><div>Carlos Córdova</div></div>
    <div class="second"><div>Web Developer</div></div>
    <div class="third"><div>Systems Engineer</div></div>
  </section>
        <span>Welcome to My Profile</span>
    </div> -->

    <div class="profile">
        <div class="profile-bg"></div>
        <!-- <img src="../../assets/pratik-self.png" alt=""> -->
        <img src="pratik-portfolio/assets/pratik-self.png" alt="">

    </div>

    <div class="name">
        <span>
            <span>Hi,</span> I am
        </span><br>
        <span>Pratik Gaikwad</span><br>
        <span>Senior Software Engineer</span><br>
    </div>

   


</div>